<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>

  <logger name="org.apache.hadoop.util.NativeCodeLoader">
    <level value="error" />
  </logger>

  <root>
    <priority value ="warn" /> 
    <appender-ref ref="CONSOLE" />
  </root>

</log4j:configuration>
